.image-hover-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 135, 84, 0.85);
  /* Green with 30% opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-hover-wrapper:hover .overlay-color {
  opacity: 1;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-hover-wrapper:hover .overlay-icon {
  opacity: 1;
}


input:focus,
textarea:focus {
  border-color: #00ff37 !important;
  /* Bootstrap primary color */
  box-shadow: 0 0 5px rgba(0, 255, 191, 0.5) !important;
  /* Optional glow effect */
  outline: none !important;
}


.w-sm-50 {
  width: 50% !important;
}

@media (min-width: 992px) {

  /* lg breakpoint */
  .w-lg-25 {
    width: 25% !important;
  }
}
.nav-link, .navbar-brand {
  font-weight: 700 !important;
}
a:hover, .nav-link:hover {
  color: #36c582 !important;
}
